@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,700&family=Roboto:ital@1&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background: rgb(1, 15, 40);

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1001;

}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}


.logo {
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

/* .navbar{
    position: fixed;
    z-index: 1001;
} */

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check {
    display: none;
    position: absolute;
    top: 30px;
    right: 7%;
    height: 25px;
    width: 25px;
}

.icons {
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 20px;
    right: 5%;
}


/* First Section Style */

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 190px 0;
    margin-left: 10%;
    margin-right: 10%;
}

.leftsection {
    width: 70%;
}

.leftsection p {
    color: white;
    font-size: 3rem;
}

.rightsection {
    width: 30%;
}

.rightsection img {
    width: 100%;
}

.purple {
    color: rgb(170, 107, 228);
    font-size: 60px;
}

.text-grey {
    color: grey;
}

#element {
    color: rgb(170, 107, 228);
    font-size: 4rem;
}

@media (max-width:740px) {
    .leftsection p {
        font-size: 2rem;
    }

    .rightsection img {
        display: none;
    }

    #element {
        font-size: 2.8rem;
    }
}




/*--------------- Testimoinals Design---------------- */

.outerdiv {
    margin-top: 100px;
    width: 100%;
    min-height: 100vh;
    background: #EDF2F8;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.innerdiv {
    transform: scale(0.9);
    margin: 1rem;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-rows: repeat(2, 35rem);
    grid-template-columns: repeat(4, 17rem);


}

.eachdiv {
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 20px #6d6b6b6b;
    color: white;

}

.div1 {
    background: #733FC8;
    grid-column: 1/3;
    grid-row: 1/2;
    background-repeat: no-repeat;
    background-position-x: 25rem;

}

.div2 {
    background: #49556B;
    grid-column: 3/4;
    grid-row: 1/2;
}

.div3 {
    background: white;
    grid-column: 4/5;
    grid-row: 1/3;
    color: black;
}

.div4 {
    background: white;
    grid-column: 1/2;
    grid-row: 2/3;
    color: black;
}

.div5 {
    background: #18202D;
    grid-column: 2/4;
    grid-row: 2/3;
}

.userdetails {
    display: flex;
}

.imgbox {
    margin-right: 1rem;
}

.imgbox img {
    border-radius: 50%;
    width: 7rem;
    /* border: 2px solid #cec5c5; */
}

.review h4 {
    font-size: 1.4rem;
    color: #F3DEFF;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}

.review.dark h4 {
    color: #4B5258;
}

.review p {
    font-size: 1.1rem;
    color: #F3DEFF;
    font-weight: 500;
    opacity: 50%;
    line-height: 1.5;
}

.review.dark p {
    color: #0e0e0e;
}

.attribution {
    font-size: 1rem;
    line-height: 1.5;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
}

.attribution a {
    text-decoration: none;
}




/* ------------------------Footer Design------------------- */

footer {
    width: 100%;
    /* position: absolute; */
    margin-bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    left: 0;
    right: 0;

}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}


.col {
    flex-basis: 20%;
    padding: 10px;
}

.col:nth-child(2) .col:nth-child(3) {
    flex-basis: 15%;
}

.logo1 {
    width: 60px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-size: 20px;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.col p a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;

}

.col p {
    color: #fff;
    font-size: 15px;
}

form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .far {
    font-size: 18px;
    margin-right: 10px;
}

form input {
    width: 100%;
    background-color: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fas {
    font-size: 16px;
    color: #ccc;


}

.social-icons .fa-brands {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.footer-p {
    font-size: 15px;
    text-align: center;
}

.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 15px;
    height: 100%;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}






/* ------------Style Autochange as per device width-------------- */

@media (max-width: 700px) {
    .main p {
        font-size: 25px;

    }
}


/* @media (max-width: 970px){
    .main p{
        top: 65%;
        
    }
} */



@media (max-width: 982px) {
    .header {
        padding: 1.3rem 5%;
    }

}

@media (max-width: 800px){
    .logo{
        font-size:1rem;}
    .icons{
        top:10px;
    }
}

@media(max-width:768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    #check:checked~.navbar a {
        display: block;
        transform: translateY(0);
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        transition: .3s ease;
        overflow: hidden;
    }

    .navbar a {
        display: none;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transition: .3s ease;
    }

    .main h1 {
        font-size: 45px;
    }

    .bgtxt h1 {
        font-size: 150px;
    }
}




@media only screen and (max-width: 1100px) {
    .innerdiv {
        transform: scale(0.7);
    }
}


@media only screen and (max-width: 860px) {
    .innerdiv {
        transform: scale(0.6);
    }
}


@media only screen and (max-width: 740px) {

    .div1 {
        background-position-x: 10rem;
    }

    .innerdiv {
        display: flex;
        flex-direction: column;
        transform: scale(1);
        margin: 2rem;
        margin-bottom: 5rem;
    }

    .attribution {
        position: relative;
    }

}

@media (max-width: 670px) {
    footer {
        bottom: unset;
    }

    .col {
        flex-basis: 100%;
    }

    #check:checked~footer {
        z-index: -2;
    }

    .col:nth-child(2) .col:nth-child(3) {
        flex-basis: 100%;
    }
}


@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}




/* ----------------------Service Page----------- */
.s-page {
    margin-top: 150px;
}

.services {
    display: flex;
    align-items: center;
    margin: 50px 0;
    margin-left: 10%;
    margin-right: 5%;
    color: white;
}

.leftsection-services {
    font-size: 1.5rem;
    max-width: 80%;
}

.leftsection-services h2{
    font-size: 2rem;
}

.rightsection-services img {
    max-width: 100%;
    margin-left: 20px;
}

@media (max-width: 1040px) {
    .rightsection-services {
        width: 40%;
    }

    .leftsection-services {
        width: 60%;
        font-size: 1.2rem;
    }
}

@media (max-width: 700px) {

    .rightsection-services {
        display: none;
    }

    .services {
        margin-right: 0;
    }

    .services {
        display: block;
    }

    .leftsection-services {
        width: 100%;
        font-size: 1rem;
    }
}








/* -----------------------About Page----------------------- */
.about-img {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 180px;
}

.about-img img {
    width: 300px;
    border-radius: 50%;
    border: 2px solid rgb(12, 35, 58);
    box-shadow: 0 0 50px 0px rgb(61, 171, 219);
    margin-top: 3%;
    margin-bottom: 2%;
}

.about {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 100px;

}

.about h2 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;

}

.about p {
    font-size: 25px;
    left: 20%;
    right: 20%;
    color: white;

}

.about-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
}

.about-btn-box {
    margin-top: 20px;
    display: inline-block;
    align-items: center;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #04619F;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    width: 15rem;
    text-align: center;
    text-align: center; /* Center the button itself */
    margin-left: auto;
    margin-right: auto;
}

.about-btn-box:hover {
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

@media (max-width: 650px) {
    .about p {
        font-size: 17px;
        text-align: center;
    }


}

@media (max-width: 450px) {
    .about p {
        font-size: 12px;
    }

    .about-btn {
        text-align: center;
    }
}







/* ----------------------Contact Page-------------------- */
.heading1 {
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 170px;
    color: rgb(170, 107, 228);

}

.contact-form1 {
    color: rgb(228, 228, 228);
    font-size: 20px;
    margin-bottom: 2rem;
    font-weight: 600;
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
    padding-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.contact-form1 form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form1 form input,
.contact-form1 form textarea {
    border: none;
    outline: none;
    width: 80%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form1 textarea {
    resize: none;
    height: 55px;
}

.contact-form1 form .send1 {
    display: inline-block;
    padding: 14px 60px;
    background: rgb(23, 182, 200);
    border-radius: 40px;
    font-size: 30px;
    color: #123c5a;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    animation: forwards;
    animation-delay: .5s;
    box-shadow: 0 0 5px rgb(95, 179, 185), 0 0 25px rgb(71, 167, 174);
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

.contact-form1 form .send1:hover {
    background-color: rgb(0, 0, 33);
    color: rgb(6, 81, 89);
}


.skills-h{
    margin-top: 80px;
    height: 80px;
}
